.all {
    background-color:  rgb(226, 222, 241);
    height: 100vh;
  }

.hi {
    margin-top: 50px;
    margin-left: 250px;
    margin-left: 250px;     
}

.pic { 
    height: 150px;
    width: 150px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 250px;   
}

.food {
    margin-left: 250px;   
    color: rgb(35, 13, 235)   
}

.carbs {
    margin-left: 250px;  
    color: rgb(35, 13, 235)  
}

.energy {
    margin-left: 250px;  
    color: rgb(35, 13, 235)  
}

.fat {
    margin-left: 250px; 
    color: rgb(35, 13, 235)   
}

.fiber {
    margin-left: 250px; 
    color: rgb(35, 13, 235)   
}

.protein {
    margin-left: 250px; 
    color: rgb(35, 13, 235)   
}